// RESET
* {
  @include reset;
}

body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  .color-html {
    color: $color_html
  }
  .color-css {
    color: $color_css
  }
  .color-js {
    color: $color_js
  }
  .color-jq {
    color: $color_jquery
  }
  .color-mysql {
    color: $color_mysql
  }
  .color-php {
    color: $color_php
  }
  .color-laravel {
    color: $color_laravel
  }
}
section {
  padding: 40px 0 0;
  margin-bottom: -10px;
  .sub-section {
    padding-top: 40px;
    margin-top: -50px;
  }
}
h1 {
  font-size: 2.5em;
  margin-bottom: -30px;
  &.index {
    margin-bottom: 10px;
  }
}
h2 {
  font-size: 1.8em;
  text-decoration: underline;
}
h3 {
  font-size: 1.4em;
}
h1, h2, h3, h4, h5 {
  padding: 40px 0 10px;
}
p {
  padding: 10px 0;
  line-height: 26px;
  letter-spacing: .5px;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
  li {
    padding: 5px 0;
  }
  &.normal-list {
    padding-left: 30px;
    line-height: 26px;
    li::before {
      content: "\25CF";
      display: inline-block;
      font-weight: bold;
      font-size: 1.4em;
      width: 1.4em;
    }
    &.html-list li::before {
      color: $color_html;
    }
    &.css-list li::before {
      color: $color_css;
    }
    &.js-list li::before {
      color: $color_js;
    }
    &.jq-list li::before {
      color: $color_jquery;
    }
    &.mysql-list li::before {
      color: $color_mysql;
    }
    &.php-list li::before {
      color: $color_php;
    }
    &.laravel-list li::before {
      color: $color_laravel;
    }
    .under-list {
      padding-left: 10px;
      li:before {
        content: '\25CB';
      }
    }
  }
}
.img-max-400 {
  margin: 20px 0;
  max-width: 400px;
}
.spec-wars {
  width: 100%;
  padding: 10px;
}
img {
  display: block;
  width: 100%;
}
.container {
  width: 100%;
  padding: 0 5%;
}
.container-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.go-top {
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: $guide_red;
  text-align: center;
  color: #fff;
}
