@media all and (min-width:480px) {
  main .tech-stack .stack-selection .tech-container {
    flex-basis: 50%;
  }
  main .tech-stack .stack-selection .tech-container .technology {
    height: 420px;
  }
}

@media all and (min-width:769px) {
  main .flex-page .content .code {
    // white-space: pre-wrap;
  }
  main .tech-stack .stack-selection {
    justify-content: flex-start;
  }
  main .tech-stack .stack-selection .tech-container {
    flex-basis: calc(100% / 3);
  }
  main .tech-stack .stack-selection .tech-container .technology {
    height: 380px;
  }
}
@media all and (min-width:1025px) {
  header {
    padding: 0 10%;
  }
  header nav .desktop-navigation {
    display: block;
  }
  header nav .mobile-navigation {
    display: none;
  }
  main .flex-page aside {
    flex-basis: 25%;
    padding: 0 30px 0 10%;
    position: sticky;
    top: 71px;
    height: 80vh;
  }
  main .flex-page .content {
    flex-basis: 73%;
    padding: 0 10% 0 30px;
  }
  main .tech-stack .stack-selection .tech-container {
    flex-basis: calc(100% / 4);
  }

}

@media all and (min-width:1170px) {
  main .flex-page .content {
    flex-basis: 75%;
    padding: 0 10% 0 30px;
  }
}
