@media all and (min-width:480px) {
  main .tech-stack .stack-selection .tech-container {
    flex-basis: 50%;
  }
  main .tech-stack .stack-selection .tech-container .technology {
    height: 420px;
  }
}
@media all and (min-width:769px) {
  main .tech-stack .stack-selection {
    justify-content: flex-start;
  }
  main .tech-stack .stack-selection .tech-container {
    flex-basis: calc(100% / 3);
  }
  main .tech-stack .stack-selection .tech-container .technology {
    height: 380px;
  }
  main .flex-page .content .code {
    font-size: 1em;
  }
}
@media all and (min-width:1025px) {
  header {
    padding: 0 10%;
  }
  header nav .desktop-navigation {
    display: block;
  }
  header nav .mobile-navigation {
    display: none;
  }
  main .flex-page aside {
    flex-basis: 25%;
    padding: 0 30px 30px 10%;
    position: sticky;
    top: 71px;
    height: calc(100vh - 70px);
    overflow: auto;
    scrollbar-color: $guide_red #282828;
    scrollbar-width: thin;
  }
  main .flex-page aside .page-navigation li a:hover {
    margin-left: 10px;
  }
  main .flex-page .content {
    flex-basis: 73%;
    padding: 0 10% 0 30px;
    .spec-wars {
      width: 70%;
    }
  }
  main .tech-stack .stack-selection .tech-container {
    flex-basis: calc(100% / 4);
  }
  main .flex-page .content .client-server-lang .xml-lang,
  main .flex-page .content .client-server-lang .json-lang {
    flex-basis: 50%;
  }
  main .flex-page .content .client-server-lang .xml-lang {
    border-right: none;
  }

}

@media all and (min-width:1170px) {
  main .flex-page .content {
    flex-basis: 75%;
  }
}
