$light_gray: #5d5d5d;
$bg_color_lightgray: #f5f5fa;
$guide_red: #f53152;

// guide text colors
$color_html: #f16529;
$color_css: #29a9df;
$color_js: #e9ca32;
$color_jquery: #009688;
$color_mysql: #d48c17;
$color_php: #673ab7;
$color_laravel: #e74632;
